# /dataset/
/model/lightning_logs/
/model/saved_models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
lightning_logs/version_13/hparams.yaml
lightning_logs/version_14/hparams.yaml
lightning_logs/version_15/hparams.yaml
lightning_logs/version_16/hparams.yaml
lightning_logs/version_17/hparams.yaml
lightning_logs/version_18/hparams.yaml
lightning_logs/version_19/hparams.yaml
lightning_logs/version_20/hparams.yaml
lightning_logs/version_21/hparams.yaml
lightning_logs/version_22/hparams.yaml
lightning_logs/version_23/hparams.yaml
wandb/latest-run
wandb/run-20231224_004412-0jfn2zcq/run-0jfn2zcq.wandb
wandb/run-20231224_004412-0jfn2zcq/files/conda-environment.yaml
wandb/run-20231224_004412-0jfn2zcq/files/config.yaml
wandb/run-20231224_004412-0jfn2zcq/files/requirements.txt
wandb/run-20231224_004412-0jfn2zcq/files/wandb-metadata.json
wandb/run-20231224_004412-0jfn2zcq/files/wandb-summary.json
wandb/run-20231224_004628-8orxrgdz/run-8orxrgdz.wandb
wandb/run-20231224_004628-8orxrgdz/files/conda-environment.yaml
wandb/run-20231224_004628-8orxrgdz/files/config.yaml
wandb/run-20231224_004628-8orxrgdz/files/requirements.txt
wandb/run-20231224_004628-8orxrgdz/files/wandb-metadata.json
wandb/run-20231224_004628-8orxrgdz/files/wandb-summary.json
wandb/run-20231224_004739-slub1hsk/run-slub1hsk.wandb
wandb/run-20231224_004739-slub1hsk/files/conda-environment.yaml
wandb/run-20231224_004739-slub1hsk/files/config.yaml
wandb/run-20231224_004739-slub1hsk/files/requirements.txt
wandb/run-20231224_004739-slub1hsk/files/wandb-metadata.json
wandb/run-20231224_004739-slub1hsk/files/wandb-summary.json
lightning_logs/version_24/hparams.yaml
lightning_logs/version_25/hparams.yaml
lightning_logs/version_26/hparams.yaml
lightning_logs/version_27/hparams.yaml
lightning_logs/version_28/hparams.yaml
lightning_logs/version_29/hparams.yaml
lightning_logs/version_30/hparams.yaml
lightning_logs/version_31/hparams.yaml
lightning_logs/version_32/hparams.yaml
wandb/run-20231224_010445-i3quxxtq/run-i3quxxtq.wandb
wandb/run-20231224_010445-i3quxxtq/files/conda-environment.yaml
wandb/run-20231224_010445-i3quxxtq/files/config.yaml
wandb/run-20231224_010445-i3quxxtq/files/requirements.txt
wandb/run-20231224_010445-i3quxxtq/files/wandb-metadata.json
wandb/run-20231224_010445-i3quxxtq/files/wandb-summary.json
wandb/run-20231224_012130-5lnbgmad/run-5lnbgmad.wandb
wandb/run-20231224_012130-5lnbgmad/files/conda-environment.yaml
wandb/run-20231224_012130-5lnbgmad/files/config.yaml
wandb/run-20231224_012130-5lnbgmad/files/requirements.txt
wandb/run-20231224_012130-5lnbgmad/files/wandb-metadata.json
wandb/run-20231224_012130-5lnbgmad/files/wandb-summary.json
lightning_logs/version_33/hparams.yaml
lightning_logs/version_34/hparams.yaml
lightning_logs/version_35/hparams.yaml
lightning_logs/version_36/hparams.yaml
lightning_logs/version_37/hparams.yaml
lightning_logs/version_38/hparams.yaml
lightning_logs/version_39/hparams.yaml
lightning_logs/version_40/hparams.yaml
lightning_logs/version_41/hparams.yaml
lightning_logs/version_42/hparams.yaml
lightning_logs/version_43/hparams.yaml
lightning_logs/version_44/hparams.yaml
lightning_logs/version_45/hparams.yaml
lightning_logs/version_46/hparams.yaml
lightning_logs/version_47/hparams.yaml
lightning_logs/version_48/hparams.yaml
lightning_logs/version_49/hparams.yaml
lightning_logs/version_50/hparams.yaml
lightning_logs/version_51/hparams.yaml
wandb/run-20231224_020448-vt0yifdw/run-vt0yifdw.wandb
wandb/run-20231224_020448-vt0yifdw/files/conda-environment.yaml
wandb/run-20231224_020448-vt0yifdw/files/config.yaml
wandb/run-20231224_020448-vt0yifdw/files/requirements.txt
wandb/run-20231224_020448-vt0yifdw/files/wandb-metadata.json
wandb/run-20231224_020448-vt0yifdw/files/wandb-summary.json
wandb/run-20231224_095914-jq85au7v/run-jq85au7v.wandb
wandb/run-20231224_095914-jq85au7v/files/conda-environment.yaml
wandb/run-20231224_095914-jq85au7v/files/config.yaml
wandb/run-20231224_095914-jq85au7v/files/requirements.txt
wandb/run-20231224_095914-jq85au7v/files/wandb-metadata.json
wandb/run-20231224_100137-xyl5ergd/run-xyl5ergd.wandb
wandb/run-20231224_100137-xyl5ergd/files/conda-environment.yaml
wandb/run-20231224_100137-xyl5ergd/files/config.yaml
wandb/run-20231224_100137-xyl5ergd/files/requirements.txt
wandb/run-20231224_100137-xyl5ergd/files/wandb-metadata.json
wandb/run-20231224_100137-xyl5ergd/files/wandb-summary.json
wandb/run-20231224_101204-9w380cj9/run-9w380cj9.wandb
wandb/run-20231224_101204-9w380cj9/files/conda-environment.yaml
wandb/run-20231224_101204-9w380cj9/files/config.yaml
wandb/run-20231224_101204-9w380cj9/files/requirements.txt
wandb/run-20231224_101204-9w380cj9/files/wandb-metadata.json
wandb/run-20231224_101204-9w380cj9/files/wandb-summary.json
wandb/run-20231224_101755-eh4lz81h/run-eh4lz81h.wandb
wandb/run-20231224_101755-eh4lz81h/files/config.yaml
wandb/run-20231224_102206-kmx896xj/run-kmx896xj.wandb
wandb/run-20231224_102206-kmx896xj/files/config.yaml
wandb/run-20231224_102347-2c2l81hm/run-2c2l81hm.wandb
wandb/run-20231224_102347-2c2l81hm/files/config.yaml
wandb/run-20231224_102503-rzbd11y7/run-rzbd11y7.wandb
wandb/run-20231224_102503-rzbd11y7/files/config.yaml
wandb/run-20231224_102739-39ojdpec/run-39ojdpec.wandb
wandb/run-20231224_102739-39ojdpec/files/config.yaml
lightning_logs/version_52/hparams.yaml
lightning_logs/version_55/hparams.yaml
lightning_logs/version_56/hparams.yaml
